{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Ad-Astra</title>
    <link rel="stylesheet" href="{% static 'css/seven.css' %}" />
    <link rel="shortcut icon" type="x-icon" href="{% static 'img/Icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/program.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
  </head>
<style>
  a{
    outline: none;
    text-decoration: none;
  }
</style>
  <body>
    <nav>
   
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
                <li> <a href="{% url 'programs' %}">Programs</a></li>
                <li><a href="{% url 'result' %}">Results</a></li>
                <li><a href="{% url 'team' %}">Team</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </nav>
      

    <div class="wrapper">
     <div class="table basic">
       <div class="price-section">
         <div class="price-area">
           <div class="inner-area">
             <span class="text">soums/mo</span>
             <span class="price">700,000</span>
           </div>
         </div>
       </div>
       <div class="package-name"></div>
       <ul class="features">
         <li>
           <span class="list-name">Grammar Basics</span>
           <span class="icon check"><i class="fas fa-check"></i></span>
         </li>
         <li>
           <span class="list-name">Conversational Level Vocabulary</span>
           <span class="icon check"><i class="fas fa-check"></i></span>
         </li>
         <li>
           <span class="list-name">Basic Speech Recognition</span>
           <span class="icon cross"><i class="fas fa-times"></i></span>
         </li>
         <li class="">
           <span class="list-name">Take Your First Step to Learn to Speak English</span>
           <span class="icon cross"><i class="fas fa-times"></i></span>
         </li>
         <li class="">
          <span class="list-name">program duration - <span style="font-weight: bold;">3 months</span> </span>
          <span class="icon cross"><i class="fas fa-times"></i></span>
        </li>
        <li class="">
          <span class="list-name" style="font-weight: bold;">Taught by C1 or above level teachers (IELTS band 7.0+)</span>
          <span class="icon cross"><i class="fas fa-times"></i></span>
        </li>
         <br>
       </ul>
      <a href="{% url 'contact' %}"> <div class="btn"><button>Contact Us</button></div></a>
     </div>

     
     <div class="table premium">
       
       <div class="price-section">
         <div class="price-area">
           <div class="inner-area">
             <span class="text">soums/mo</span>
             <span class="price">700,000</span>
           </div>
         </div>
       </div>
       <div class="package-name"></div>
       <ul class="features">
         <li>
           <span class="list-name">Level up your vocabulary base </span>
           <span class="icon check"><i class="fas fa-check"></i></span>
         </li>
         <li>
           <span class="list-name">Delve deeper into the mechanics of speech</span>
           <span class="icon check"><i class="fas fa-check"></i></span>
         </li>
         <li>
           <span class="list-name">Train Your Listening Skills Harder</span>
           <span class="icon check"><i class="fas fa-check"></i></span>
         </li>
         <li>
           <span class="list-name">Consolidate Your Grasp of English Grammar</span>
           <span class="icon cross"><i class="fas fa-times"></i></span>
         </li>
         <li>
          <span class="list-name">Program duration  - <span style="font-weight: bold;">3 months</span></span>
          <span class="icon cross"><i class="fas fa-times"></i></span>
        </li>
        <li>
          <span class="list-name" style="font-weight: bold;">Taught by C1 or above level teachers (IELTS band 7.5-8.0)</span>
          <span class="icon cross"><i class="fas fa-times"></i></span>
        </li>
       </ul>
       <a href="{% url 'contact' %}"><div class="btn"><button>Contact Us</button></div></a>
     </div>
     
     <div class="table ultimate">
       <div class="price-section">
         <div class="price-area">
           <div class="inner-area">
             <span class="text">soums/mo</span>
             <span class="price">700,000</span>
           </div>
         </div>
       </div>
       <div class="package-name"></div>
       <ul class="features">
         <li>
           <span class="list-name">Intro to the IELTS format</span>
           <span class="icon check"><i class="fas fa-check"></i></span>
         </li>
         <li>
           <span class="list-name">Advanced Comprehension Training</span>
           <span class="icon check"><i class="fas fa-check"></i></span>
         </li>
         <li>
           <span class="list-name">Maximize Your Speaking Flexibility </span>
           <span class="icon check"><i class="fas fa-check"></i></span>
         </li>
         <li>
           <span class="list-name">Writing 101</span>
           <span class="icon check"><i class="fas fa-check"></i></span>
         </li>
         <li>
          <span class="list-name">Program duration - <span style="font-weight: bold;">2 months</span> </span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name" style="font-weight: bold;">Taught by C2 level teachers (IELTS band 8.5+)</span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
       </ul>
       <br>
      <a href="{% url 'contact' %}"> <div class="btn"><button>Contact Us</button></div></a>
     </div>
     

     <div class="table premium2">
   
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="text">soums/mo</span>
            <span class="price">700,000</span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <li>
          <span class="list-name">Improve Your Exam Skills</span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Set Structure to Follow</span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Maintenance Mode</span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Advanced Speaking Training</span>
          <span class="icon cross"><i class="fas fa-times"></i></span>
        </li>
        <li>
          <span class="list-name">Program duration -  <span style="font-weight: bold;">2 months</span>  </span>
          <span class="icon cross"><i class="fas fa-times"></i></span>
        </li>
        <li>
          <span class="list-name" style="font-weight: bold;">Taught by C2 level teachers (IELTS band 8.5+)</span>
          <span class="icon cross"><i class="fas fa-times"></i></span>
        </li>
      </ul>
      <br>
     <a href="{% url 'contact' %}"><div class="btn"><button>Contact Us</button></div></a> 
    </div>
   </div>


    <div class="folio">
      <div class="folio-wrapper">
        <img src="{% static 'img/about/Logo.png' %}" alt="">
      </div>
      <p>
        Greatness happens on the days when you show up even if you don't wanna be there
      </p>
      <div class="folio-nav">
        <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'team' %}">Team</a>
            <a href="{% url 'result' %}">Results</a>
      </div>
      <footer>
        <p>© 2022, Vectorweb.io</p>
        <div class="footer-icon">
          <a href="{% url 'contact' %}">Contact us</a>
          
        </div>
      </footer>
    </div>
  </body>
</html>
