

html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
  z-index: 9999;
}
.logo img{
  width: 20%;
  position: absolute;
  top: -80px;
}
.navi {
  position: relative;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  
  justify-content: space-between;

}
.navi .mainMenu {
  display: flex;
  list-style: none;
  
}
.navi .mainMenu li a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
 
  color: rgb(255, 255, 255);
  font-size: 20px;
  
  transition: 0.3s all linear;
}
.navi .mainMenu li a:hover {
  /* border: 1px solid blue; */
  transform: translateY(-3px);
  color: silver;
  
  
  
  
}
.navi .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
.navi .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  
}
.fa-facebook:hover {
  color: rgb(0, 110, 255);
}
.fa-youtube:hover {
  color: red;
}
.fa-phone:hover{
  color: green;
}
.fa-telegram:hover {
  color: rgb(86, 154, 243);
}
.fa-instagram:hover {
  color: rgb(193, 58, 17);
}
.fa-github:hover {
  color: rgb(255, 123, 0);
}
.navi .logo {
  margin: 6px;
  cursor: pointer;
  text-transform: uppercase;
}
.navi .logo h1{
  color: black;
}
@media (max-width: 800px) {
  .navi .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
 
    transition: top 1s ease 0s;
    display: none;
  }
  .navi .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .navi .openMenu {
    display: block;
  }
  .navi .mainMenu li a:hover {
    background: none;
    color: rgb(255, 123, 0);
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
}

.a-bg-img-1 {
 background: linear-gradient(
  rgba(0, 0, 0, 0.6), 
  rgba(0, 0, 0, 0.6)
), url(../img/contact/bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100vh;
}

/* ====================== */

.a-basket h1 {
 
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 80px;
  text-transform: uppercase;

  color: rgb(255, 255, 255);
}

.a-btn-1 {
  width: 198px;
  height: 48px;
  background: darkblue;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: 0.3s ease-in-out;
}
.a-btn-1:hover{
  color: darkblue;
  background-color: white;
  border: 3px solid darkblue;
}

.iconss i {
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding-top: 25px;
}

.header-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 0 5rem;
}

.header-wrapper > h1 {
  font-size: 3rem;
  font-weight: 500;
}
.header-wrapper > button {
  background-color: #4262ff;
  color: white;
  width: 250px;
  margin-top: 2rem;
  padding: 10px 0;
  font-size: 19px;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s all;
}
.header-wrapper > button:hover {
  background-color: #2440cf;
  transform: scale(1.1);
}

.platform_section {

  
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}
.platform_section i{
  color: white;
}
.info_platform > h1 {
  margin: 20px 0;
  font-size: 3rem;
  font-weight: 400;
}
.bd_text{
  
  font-size: 3rem;
  font-weight: 400;
}
.description {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}
.description > article {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.description > article > a>i {
  margin-right: 20px;
  font-size: 25px;
  padding: 15px;
  border-radius: 50%;
  background-color: darkblue;
}

.platform_section > img {
  max-width: 400px;
  object-position: center;
}
.contact {
  height: 100%;
  padding: 5rem 2rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}
.input-wrapper > h1 {
  margin: 1rem 0;
}
.input-wrapper > input,
.input-wrapper > textarea,
.input-wrapper > button,
form {
  margin: 1rem 0;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  outline: none;
  color: black;
  transition: 0.5s all;
  font-size: 16px;
}

select {
  border: none;
  outline: none;
  transition: 0.3s all linear;
  padding: 10px;
  margin-left: 20px;
  color: black;
  background: transparent;
}
select > option {
  color: black;
}
.input-wrapper > input:hover,
.input-wrapper > textarea:hover,
.input-wrapper > button:hover,
form {
  box-shadow: 0 0 15px black;
}
.margin {
  margin-top: 5rem;
}
::placeholder {
  color: gray;
}
.perelax {
  background-image:  url(../img/contact/teacher.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}

.contact-content:nth-child(1) {
  margin-bottom: 10rem;
}
.contact-content h2 {
  font-size: 2rem;
}
.contact-content p {
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px 15px;
  margin: 1rem 0;
  transition: 0.5s all;
}
.contact-content p:hover {
  transform: translate(8%);
  box-shadow: 0 0 15px white;
}

.section_map iframe{
  width: 100%;
  height: 100%;
}

.section_map{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}