{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Ad-Astra</title>
    <link rel="shortcut icon" type="x-icon" href="{% static 'img/Icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/seven.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
   
  </head>

  <body>
    <nav>
   
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li> <a href="{% url 'programs' %}">Programs</a></li>
        <li><a href="{% url 'result' %}">Results</a></li>
        <li><a href="{% url 'team' %}">Team</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </nav>
    <header>
      
      <h1>{{seven.subtitle}}</h1>
      <div class="wrapper">
        <div class="info_user">
          
          <img
            src="{{seven.img.url}}"
            alt=""
          />
          
          <p>
            {{seven.text}}
          </p>
         
        </div>
        <div class="article_wrapper">
          <article>
            <img src="{{seven.img3.url}}" alt="">
            
            <h2>
              {{seven.headtitle}}
            </h2>
            
          </article>
      
        </div>
      </div>
    </header>
    <div class="folio">
      <div class="folio-wrapper">
        <img src="{% static 'img/about/Logo.png' %}" alt="">
      </div>
      <p>
        Greatness happens on the days when you show up even if you don't wanna be there
      </p>
      <div class="folio-nav">
        <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'team' %}">Team</a>
            <a href="{% url 'result' %}">Results</a>
      </div>
      <footer>
        <p>© 2022, Vectorweb.io</p>
        <div class="footer-icon">
          <a href="{% url 'contact' %}">Contact us</a>
          
        </div>
      </footer>
    </div>
  </body>
</html>
