.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    font-family: "Montserrat", sans-serif;
    height: 100%;
    
  }
  .line {
    height: 5px;
    border-radius: 30px;
    width: 200px;
    background-color: grey;
    margin: 2rem 0;
  }
  
  .images_description {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .intro > article > h1 {
    font-size: 45px;
    max-width: 450px;
    color: grey;
  }
  .images_description {
    margin-left: 2rem;
  }
  .images_description > div {
    text-align: center;
    height: 100%;
    padding: 4rem 2rem;
    cursor: pointer;
  }
  .images_description > div:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .images_description > div > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .description_prof {
   
    padding: 2rem 1rem;
    font-size: 25px;
  }
  
  .btn_intro {
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 2rem;
    border: none;
    border: 2px solid grey;
    
    color: grey;
  }
  
  .btn_intro:hover {
    border: 2px solid #000;
    color: #000;
  }
  

  
  @media screen and (max-width: 1000px) {
    .intro {
      width: 80%;
      margin: auto;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 1000px) {
    .images_description {
      margin-top: 2rem;
      margin-left: 0;
    }
  }
  
  @media screen and (max-width: 700px) {
    .images_description {
      flex-direction: column;
      margin-top: 2rem;
    }
  }


  .container{
    max-width: 950px;
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
  }
  .container .main-card{
    display: flex;
    justify-content: space-evenly;
    width: 200%;
    transition: 1s;
  }
  #two:checked ~ .main-card{
    margin-left: -100%;
  }
  .container .main-card .cards{
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
  }
  .main-card .cards .card{
    width: calc(100% / 3 - 10px);
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
  }
  .main-card .cards .card:hover{
    transform: translateY(-15px);
  }
  .cards .card .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .cards .card .content .img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 3px;
    background: grey;
    margin-bottom: 14px;
  }
  .card .content .img img{
    height: 100%;
    width: 100%;
    border: 3px solid #ffff;
    border-radius: 50%;
    object-fit: cover;
  }
  .card .content .name{
    font-size: 20px;
    font-weight: 500;
  }
  .card .content .job{
    font-size: 20px;
    color: #000;
  }
  .card .content .media-icons{
    margin-top: 10px;
    display: flex;
  
  }
  .media-icons a{
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    margin: 0 4px;
    font-size: 14px;
    color: #FFF;
    border-radius: 50%;
    border: 2px solid transparent;
    background: grey;
    transition: all 0.3s ease;
  }
  .media-icons a:hover{
    color: grey;
    background-color: #fff;
    border-color: grey;
  }
   .container .button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .button label{
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background: #fff;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .button label.active{
    width: 35px;
  }
  #one:checked ~ .button .one{
    width: 35px;
  }
  #one:checked ~ .button .two{
    width: 15px;
  }
  #two:checked ~ .button .one{
    width: 15px;
  }
  #two:checked ~ .button .two{
    width: 35px;
  }
  input[type="radio"]{
    display: none;
  }
  @media (max-width: 768px) {
    .main-card .cards .card{
      margin: 20px 0 10px 0;
      width: calc(100% / 2 - 10px);
    }
  }
  @media (max-width: 600px) {
    .main-card .cards .card{
      /* margin: 20px 0 10px 0; */
      width: 100%;
    }
  }