{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="x-icon" href="{% static 'img/Icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/smm.css' %}">
   <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <script src="{% static 'js/aos.js' %}"></script>
    <title>Ad-Astra</title>
  </head>
  <body>
    <!-- about-1 burger navbar -->
    <div id="progress">
      <span id="progress-value">&#x1F815;</span>
    </div>
    <div class="section a-bg-img-1">
      <div class="container">
        <div class="columns pb-6">
          <div class="column is-12">
            <div class="logo"><img src="{% static 'img/about/Logo.png' %}" alt=""></div>
            <nav class="navi">
              <div class=""></div>
              <div class="openMenu"><i class="fa fa-bars"></i></div>
              <ul class="mainMenu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li> <a href="{% url 'programs' %}">Programs</a></li>
                <li><a href="{% url 'result' %}">Results</a></li>
                <li><a href="{% url 'team' %}">Team</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>

                <div class="closeMenu"><i class="fa fa-times"></i></div>
                <span class="icons">
                  <a href="https://www.facebook.com/abbosali.sodiqov.3"> <i class="fab fa-facebook pr-4"></i></a>
                  <a href="https://www.instagram.com/ad_astra_ielts"><i class="fab fa-instagram pr-4"></i></a>
                 <a href="https://t.me/ad_astra_school"> <i class="fab fa-telegram pr-4"></i></a>
                  <a href="https://youtube.com/channel/UC7wMwOnne4mtPMKIF-WhJXQ"><i class="fab fa-youtube"></i></a>
                 
                </span>
              </ul>
            </nav>
          </div>
        </div>
        
        <div class="pt-6">
          <div class="pt-6 mt-6">
          <div class="columns pt-3 mt-6">
            <div class="column is-6 pt-6 mt-6">
              <div class="a-basket mb-2">
                <h1 class="">About</h1>
                
              </div>
              <span class="iconss mt-6 pt-6">
                <a href="https://www.facebook.com/abbosali.sodiqov.3"> <i class="fab fa-facebook pr-4"></i></a>
                <a href="https://www.instagram.com/ad_astra_ielts"><i class="fab fa-instagram pr-4"></i></a>
               <a href="https://t.me/ad_astra_school"> <i class="fab fa-telegram pr-4"></i></a>
                <a href="https://youtube.com/channel/UC7wMwOnne4mtPMKIF-WhJXQ"><i class="fab fa-youtube"></i></a>
              </span>
            </div>
            <div class="column is-6"></div>
          </div>
        </div>
        </div>
      
      </div>
    </div>

    <!-- end of about-1 burger navbar -->

    <!-- about-2 -->

    <!--============================================================
                                  Second Section
            ============================================================-->
            
            <div class="section _about_backcolor5">
              <div class="container pt-6">
                <div class="columns">
                  <div class="column is-3"></div>
                  <div class="column is-6">
                    <div class="a-img-14 has-text-centered">
                      <img
                        data-aos="fade-right"
                        class="mr-4"
                        src="{% static 'img/about/star.png' %}"
                        alt=""
                      />
                      <img
                        data-aos="fade-down"
                        class="mr-4"
                        src="{% static 'img/about/star.png' %}"
                        alt=""
                      />
                      <img
                        data-aos="fade-left"
                        class="mr-4"
                        src="{% static 'img/about/star.png' %}"
                        alt=""
                      />
                    </div>
                    <div class="a-text-8">
                      <h1 class="has-text-centered pt-4">Meet our Founders</h1>
                      <h2 class="has-text-centered pt-3">
                        Over half a decade of our successful collaboration has helped close to a thousand students to get outstanding results and pursue their dream academic and life goals
                      </h2>
                    </div>
                  </div>
                  <div class="column is-3"></div>
                </div>
              </div>
        
              <div class="section">
                <div class="container">
                  <div class="columns ">
                    <div class="column is-1"></div>
                    <div class="column is-5">
                      <div class="img-15">
                        <img
                          data-aos="zoom-out-down"
                          class="is-rounded"
                          src="{% static 'img/Muhammad.jpg' %}"
                          alt=""
                        />
                        
                      </div>
                    </div>
                  <div class="column is-1"></div>
                    <div class="column is-5">
                      <div class="img-15">
                        <img
                          data-aos="zoom-out-down"
                          class="is-rounded"
                          src="{% static 'img/Alisher.jpg' %}"
                          alt=""
                        />
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    <!-- end of about-2 -->

    <!-- about-3 parallax effect -->

    <div class="section parallax has-background-black">
      <div class="container">
        <div class="columns">
          <div class="column is-12">
            <section class="">
              <div class="parallax-inner"></div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <!-- end of about-3 parallax effect -->

    <!-- about-4 -->

    <div class="section _about_backcolor2">
      <div class="container">
        <div class="columns">
          <div class="column is-3">
            <div class="a-text-1">
              <h1>Our Core Values</h1>
              <h2>
   
              </h2>
            </div>
          </div>
          <div class="column is-3">
            <div class="a-basket-4">
              <img data-aos="flip-left" src="{% static 'img/about/star.png' %}" alt="" />
              <div class="is-flex">
                <h1>01</h1>
                <h2 class="mt-4 ml-2">Transparency  </h2>
              </div>
              <h3 class="mt-5 pt-1">
                We take pride in being completely transparent about the way we operate as well as our strengths and weak points
              </h3>
            </div>
          </div>
          <div class="column is-3">
            <div class="a-basket-4">
              <img data-aos="flip-left" src="{% static 'img/about/star.png' %}" alt="" />
              <div class="is-flex">
                <h1>02</h1>
                <h2 class="mt-4 ml-2">Open-mindedness </h2>
              </div>
              <h3 class="mt-5 pt-1">
                Never stuck in our old ways. Always looking to explore new ideas and suggestions on ways to refine our services and keep up with the latest innovations in education as well as other areas of life
              </h3>
            </div>
          </div>
          <div class="column is-3">
            <div class="a-basket-4">
              <img data-aos="flip-left" src="{% static 'img/about/star.png' %}" alt="" />
              <div class="is-flex">
                <h1>03</h1>
                <h2 class="mt-4 ml-2">Commitment </h2>
              </div>
              <h3 class="mt-5 pt-1">
                Our commitment is to our costumers who place their trust in us and join our loving family
              </h3>
            </div>
          </div>
        </div>
      </div>

      <!-- ============================ -->

      <div class="section">
        <div class="container">
          <div class="columns">
            <div class="column is-3">
              <div class="a-img-4">
                <img src="{% static 'img/about/robot2.png' %}" alt="" />
              </div>
            </div>
            <div class="column is-3">
              <div class="a-basket-4">
                <img data-aos="flip-left" src="{% static 'img/about/star.png' %}" alt="" />
                <div class="is-flex">
                  <h1>04</h1>
                  <h2 class="mt-4 ml-2">Work ethics</h2>
                </div>
                <h3 class="mt-5 pt-1">
                  Talent without hard work equals zero
                </h3>
              </div>
            </div>
            <div class="column is-3">
              <div class="a-basket-4">
                <img data-aos="flip-left" src="{% static 'img/about/star.png' %}" alt="" />
                <div class="is-flex">
                  <h1>05</h1>
                  <h2 class="mt-4 ml-2">Constant Learning</h2>
                </div>
                <h3 class="mt-5 pt-1">
                  Just when we thought we had learned so much, we realized we had so much more to learn
                </h3>
              </div>
            </div>
            <div class="column is-3">
              <div class="a-basket-4">
                <img data-aos="flip-left" src="{% static 'img/about/star.png' %}" alt="" />
                <div class="is-flex">
                  <h1>06</h1>
                  <h2 class="mt-4 ml-2">Creative Approaches</h2>
                </div>
                <h3 class="mt-5 pt-1">
                  Rumor has it that teachers will be replaced by robots one day. Well, not unless we stay creative
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end of about-4 -->

    <!-- about-5 -->

    <div class="section parallaxa has-background-black">
      <div class="container">
        <div class="columns">
          <div class="column is-12">
            <section class="">
              <div class="parallaxa-inner"></div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <!-- end of about-5 -->
    <div class="section _about_backcolor6">
      <div class="container ">
        <div class="columns">
          <div class="column is-6 pt-6 mt-6">
            <div class="img-16 is-flex mt-6 pt-4">
              <img
                data-aos="fade-right"
                class="mr-4"
                src="{% static 'img/about/star.png' %}"
                alt=""
              />
              <img
                data-aos="fade-down"
                class="mr-4"
                src="{% static 'img/about/star.png' %}"
                alt=""
              />
              <img
                data-aos="fade-left"
                class="mr-4"
                src="{% static 'img/about/star.png' %}"
                alt=""
              />
            </div>
            <div class="a-text-10">
              <h1 class="img-holder pt-5">Our Program set</h1>
              <h2 class="img-holder pt-6">
                <img data-aos="flip-left" src="{% static 'img/about/star.png' %}" alt="" /> 
                Beginner
              </h2>
              <h2 class="img-holder pt-6">
                <img data-aos="flip-left" src="{% static 'img/about/star.png' %}" alt="" /> 
                IELTS Foundation
              </h2>
              <h2 class="img-holder pt-6">
                <img data-aos="flip-left" src="{% static 'img/about/star.png' %}" alt="" /> 
                Pre-IELTS 
              </h2>
              <h2 class="img-holder pt-6">
                <img data-aos="flip-left" src="{% static 'img/about/star.png' %}" alt="" /> 
                IELTS
              </h2>
            </div>
          </div>

          <div class="column is-6">
            <div class="a-img-17">
              <img src="{% static 'img/new.jpg' %}" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- about-6 -->

   
  

    <!-- about-9 -->

    <div class="section parallaxj has-background-black">
      <div class="container">
        <div class="columns">
          <div class="column is-12 pt-6 mt-6">
            <div class="a-text-9 pt-6 mt-6">
              <h1>Do you want to learn English?</h1>
              <h2>Reach out and learn with us</h2>
             <a href="{% url 'contact' %}"><div class="a-btn-9 pl-6 pt-2 mt-6">Contact Us</div></a> 
            </div>
            <section class="">
              <div class="parallaxj-inner"></div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <!-- END OF about-9 -->
    <div class="section _about_backcolor3">
      <div class="container pt-6">
        <div class="columns">
          <div class="column is-6">
            <div class="img-6 is-flex">
              <img
                class="mr-4"
                data-aos="fade-right"
                src="{% static 'img/about/star.png' %}"
                alt=""
              />
              <img
                class="mr-4"
                data-aos="fade-down"
                src="{% static 'img/about/star.png' %}"
                alt=""
              />
              <img
                class="mr-4"
                data-aos="fade-left"
                src="{% static 'img/about/star.png' %}"
                alt=""
              />
            </div>
            <div class="a-basket-6">
              <h1 class="pt-4">Our partners</h1>
              <h2 class="pt-6">
                Helped are those who create anything at all, for they shall relive the thrill of their own conception and realize a partnership in the creation of the Universe that keeps them responsible and cheerful.
              </h2>
            </div>
          </div>
          <div class="column is-6">
            <div class="img-8 is-flex is-justify-content-end">
              <img src="{% static 'img/about/flyrocket.png' %}" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="container">
          <div class="columns">
            <div class="column is-3">
              <div class="img-9 mt-5">
                <img src="{% static 'img/about/sponsor1.png' %}" alt="" />
              </div>
            </div>
            <div class="column is-3">
              <div class="img-10 ml-6">
                <img src="{% static 'img/about/sponsor2.png' %}" alt="" />
              </div>
            </div>
            <div class="column is-3">
              <div class="img-11">
                <img src="{% static 'img/about/sponsor3.png' %}" alt="" />
              </div>
            </div>
            <div class="column is-3">
              <div class="img-12">
                <img src="{% static 'img/about/sponsor4.png' %}" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- about-10 -->

    

    <div class="folio _about_backcolor7">
      <div class="folio-wrapper">
        <img src="{% static 'img/about/Logo.png' %}" alt="">
      </div>
      <p>
        Greatness happens on the days when you show up even if you don't wanna be there
      </p>
      <div class="folio-nav">
        <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'team' %}">Team</a>
            <a href="{% url 'result' %}">Results</a>
      </div>
      <footer class="_about_backcolor8">
        <p>© 2022, Vectorweb.io</p>
        <div class="footer-icon">
          <a href="{% url 'contact' %}">Contact us</a>
         
        </div>
      </footer>
    </div>

    <!-- end of about-10 -->

    <!-- ==================================================== -->
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>

    <script>
      AOS.init()
    </script>
    <script>
      let calcScrollValue = () => {
  let scrollProgress = document.getElementById("progress");
  let progressValue = document.getElementById("progress-value");
  let pos = document.documentElement.scrollTop;
  let calcHeight =
    document.documentElement.scrollHeight -
    document.documentElement.clientHeight;
  let scrollValue = Math.round((pos * 100) / calcHeight);
  if (pos > 100) {
    scrollProgress.style.display = "grid";
  } else {
    scrollProgress.style.display = "none";
  }
  scrollProgress.addEventListener("click", () => {
    document.documentElement.scrollTop = 0;
  });
  scrollProgress.style.background = `conic-gradient(#073763 ${scrollValue}%, #ffffff ${scrollValue}%)`;
};
window.onscroll = calcScrollValue;
window.onload = calcScrollValue;
    </script>
    <!-- ====================================================== -->
  </body>
</html>
