{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" type="x-icon" href="{% static 'img/Icon.png' %}">
     <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <link rel="stylesheet" href="{% static 'css/about.css' %}">
     <title>Ad-Astra</title>
</head>
<body>
     <style>
          .img-13 img{
               width: 100%;
               height: 500px;
          }
          @media only screen and (max-width: 700px) and (min-width: 230px){
               .img-13 img{
              display: none;
          }

}
     </style>
     <div class="section has-background-black">
          <div class="container">
            <div class="columns">
              <div class="column is-6">
                <div class="img-13 pt-6 mt-6">
                  <img src="{% static 'img/about/work.jpeg' %}" alt="" />
                </div>
                <div class="img-13 pt-6 mt-6">
                    <img src="{% static 'img/about/work2.jpg' %}" alt="" />
                  </div>
              </div>
              <div class="column is-6">
                <div class="a-text-7">
                  <h1>Do You want to work with us?</h1>
                  <h2 class="pt-4">
                    Our School is looking for a teacher with an English professional level. You can leave a message here. Your first job experiences and other stuff should be included in this form if you are a proper candidate for this job. We will let you know. 
                  </h2>
                </div>
     <div class="containere mt-4 pr-6">
          <div class="titlee">Registration</div>
          <div class="contente">
            <form action="#" method="POST">
               {% csrf_token %}
              <div class="user-details">
                <div class="input-box">
                  <span class="details">Full Name</span>
                  <input
                    type="text"
                    placeholder="Enter your name"
                    required name="name"
                  />
                </div>
                <div class="input-box">
                    <span class="details">Age</span>
                    <input
                      type="text"
                      placeholder="Enter your age"
                      required name="age"
                    />
                  </div>
                <div class="input-box">
                  <span class="details">Place of Residence</span>
                  <input
                    type="text"
                    placeholder="Place of Residence"
                    required name="residence"
                  />
                </div>
                
                <div class="input-box">
                  <span class="details">Phone Number</span>
                  <input
                    type="text"
                    placeholder="Enter your number"
                    required name="phone"
                  />
                </div>
                <div class="input-box">
                  <span class="details">Education Status</span>
                  <input
                    type="text"
                    placeholder="Education Status"
                    required name="education"
                  /> 
                </div>
                <div class="input-box">
                  <span class="details">University Major</span>
                  <input type="text" placeholder="Universit Major" name="university"/>
                </div>
                <div class="input-box">
                    <span class="details">IELTS Band Score</span>
                    <input type="text" placeholder="IELTS Band Score" required  name="ielts"/>
               </div>
               <div class="input-box">
                    <span class="details">Other Achievments</span>
                    <input type="text" placeholder="Other Achievments"  name="other"/>
               </div>
               <div class="input-box">
                    <span class="details">Employer 1</span>
                    <input type="text" placeholder="Enter your first job"  name="job1"/>
               </div>
               <div class="input-box">
                    <span class="details">Employer 2</span>
                    <input type="text" placeholder="Enter your second job"  name="job2"/>
               </div>
               <div class="input-box">
                    <span class="details">Other Languages</span>
                    <input type="text" placeholder="Other Languages"  name="languages"/>
               </div>
               <div class="input-box">
                    <span class="details">Telegram Username</span>
                    <input type="text" placeholder="Telegram Username"  name="telegram"/>
               </div>
              </div>
              
              <div class="buttone">
                <input type="submit" value="Register" />
              </div>
            </form>
          </div>
        </div>
     </div>
     </div>
     </div>
     </div>


     <div class="folio">
          <div class="folio-wrapper">
            <img src="{% static 'img/about/Logo.png' %}" alt="">
            
          </div>
          <p>
            Greatness happens on the days when you show up even if you don't wanna be there
          </p>
          <div class="folio-nav">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'team' %}">Team</a>
            <a href="{% url 'result' %}">Results</a>
          </div>
          <footer>
            <p>© 2022, Vectorweb.io</p>
            <div class="footer-icon">
              <a href="{% url 'contact' %}">Contact us</a>
              
            </div>
          </footer>
        </div>
</body>
</html>