{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="x-icon" href="{% static 'img/Icon.png' %}">
    <title>Ad-Astra</title>
   
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
    <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
  </head>
  <body>
    
    <div class="section a-bg-img-1">
      <div class="container">
        <div class="columns pb-6">
          <div class="column is-12">
            <div class="logo"><img src="{% static 'img/about/Logo.png' %}" alt=""></div>
            <nav class="navi">
              <div class=""></div>
              <div class="openMenu"><i class="fa fa-bars"></i></div>
              <ul class="mainMenu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li> <a href="{% url 'programs' %}">Programs</a></li>
                <li><a href="{% url 'result' %}">Results</a></li>
                <li><a href="{% url 'team' %}">Team</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>

                <div class="closeMenu"><i class="fa fa-times"></i></div>
                <span class="icons">
                  <a href="https://www.facebook.com/abbosali.sodiqov.3"> <i class="fab fa-facebook pr-4"></i></a>
                  <a href="https://www.instagram.com/ad_astra_ielts"><i class="fab fa-instagram pr-4"></i></a>
                 <a href="https://t.me/ad_astra_school"> <i class="fab fa-telegram pr-4"></i></a>
                  <a href="https://youtube.com/channel/UC7wMwOnne4mtPMKIF-WhJXQ"><i class="fab fa-youtube"></i></a>
                 
                </span>
              </ul>
            </nav>
          </div>
        </div>

        <div class="pt-6">
          <div class="pt-6 mt-6">
          <div class="columns pt-3 mt-6">
            <div class="column is-5 pt-6 mt-6">
              <div class="a-basket mb-2">
                <h1 class="">Contact</h1>
                
              </div>
              <span class="iconss mt-6 pt-6">
                <a href="https://www.facebook.com/abbosali.sodiqov.3"> <i class="fab fa-facebook pr-4"></i></a>
                <a href="https://www.instagram.com/ad_astra_ielts"><i class="fab fa-instagram pr-4"></i></a>
               <a href="https://t.me/ad_astra_school"> <i class="fab fa-telegram pr-4"></i></a>
                <a href="https://youtube.com/channel/UC7wMwOnne4mtPMKIF-WhJXQ"><i class="fab fa-youtube"></i></a>
              </span>
            </div>
            <div class="column is-6"></div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <section class="platform_section mt-6 pb-6 pt-6">
     <div class="columns">
      <div class="column is-4"></div>
      <div class="column is-5 bd_text">   <h4></h4>
        <h1 class="pl-4">Find out more about us here</h1></div>
        <div class="column is-5"></div>
     </div>
      <div class="info_platform ml-4 ">
     
        
        <div class="description">
          <article>
            <a href="tel:+998553065060"><i class="fa-solid fa-phone"></i></a>
            
            
            
           
          </article>
    
          <article>
           
            <a href="https://t.me/ad_astra_school"> <i class="fab fa-telegram"></i></a>
          </article>
          <article>
          
            <a href="https://www.instagram.com/ad_astra_ielts"> <i class="fab fa-instagram"></i></a>
          </article>
          <article>
            <a href="https://youtube.com/channel/UC7wMwOnne4mtPMKIF-WhJXQ"><i class="fab fa-youtube"></i></a>
           
          </article>
          <article>
            <a href="https://www.facebook.com/abbosali.sodiqov.3"><i class="fab fa-facebook"></i></a>
            
            
          </article>
        </div>
      </div>
    
      <img
        src="https://s3-alpha-sig.figma.com/img/ecc9/89d8/71e473ded157c5c53287e9ae5525f631?Expires=1658707200&Signature=PwQVa4opQ-30slIgrOsrkQbd13H3Cv3b~4nqFpolN8AHvT3SX3rvIlXsOilNFRlBw4ke4NVyHx0oVrWiaVIyAWBPtEows5eWcfRrbJBacKbsFV3HoIIAoYu3qmEFDjT5sE2hMr8vok5DaPDhSj0QaOcUYRpAqXwRr9malKq-OWYmLnAdjjz1eG6Sj88KulP90AzDR-fZVfnmnNG8on4wP~n~qzflaEip~RPib5iqUTAnbsJuX76JvnQDBgYtQUaLFFo0vP2EUyKPZKu3jKVmRPWWebY4dsqInqdfC1H~ozoGw3NxF-i7VCPr7oX8zGMWMYU1FGnUh0kHTC3yP6ciig__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
        alt=""
      />
    </section>
    <div class="section has-background-black">
      <div class="container">
        <div class="columns">
          <div class="column is-6">
            <div class="img-13 pt-6">
              <img src="{% static 'img/about/meditation.png' %}" alt="" />
            </div>
          </div>
          <div class="column is-6">
           

            <!-- input -->

            <div class="containere mt-4">
              <div class="titlee">Registration</div>
              <div class="contente">
                <form action="#" method="POST">
                  {% csrf_token %}
                  <div class="user-details">
                    <div class="input-box">
                      <span class="details">Full Name</span>
                      <input
                        type="text"
                        placeholder="Enter your name"
                        required name="name"
                      />
                    </div>
                    <div class="input-box">
                      <span class="details">Last Name</span>
                      <input
                        type="text"
                        placeholder="Enter your last name"
                        required name="last"
                      />
                    </div>
                    <div class="input-box">
                      <span class="details">Age</span>
                      <input
                        type="text"
                        placeholder="Enter your age"
                        required name="age"
                      />
                    </div>
                    <div class="input-box">
                      <span class="details">Phone Number</span>
                      <input
                        type="text"
                        placeholder="Enter your number"
                        required name="phone"
                      />
                    </div>
                    <div class="input-box">
                      <span class="details">Email</span>
                      <input
                        type="text"
                        placeholder="Email"
                        required name="email"
                      /> 
                    </div>
                    <div class="input-box">
                      <span class="details">Telegram Username</span>
                      <input type="text" placeholder="Enter your telegram username" required  name="telegram"/>
                    </div>
                  </div>
                  
                  <div class="buttone">
                    <input type="submit" value="Register" />
                  </div>
                </form>
              </div>
            </div>

            <!-- end of input -->
          </div>
        </div>
      </div>
    </div>
    <section class="perelax"></section>
<div class="section_map">

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d191.69621952386805!2d64.42585448028345!3d39.75897593254417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f500734259b6711%3A0xb7688fb0757531ef!2sAd%20Astra!5e0!3m2!1sru!2s!4v1662543182276!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
    <div class="folio">
      <div class="folio-wrapper">
        <img src="{% static 'img/about/Logo.png' %}" alt="">
      </div>
      <p>
        Greatness happens on the days when you show up even if you don't wanna be there
      </p>
      <div class="folio-nav">
        <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'team' %}">Team</a>
            <a href="{% url 'result' %}">Results</a>
      </div>
      <footer>
        <p>© 2022, Vectorweb.io</p>
        <div class="footer-icon">
          <a href="{% url 'contact' %}">Contact us</a>
      
        </div>
      </footer>
    </div>
    <script src="{% static 'js/contact.js' %}"></script>
    <script>
      let calcScrollValue = () => {
  let scrollProgress = document.getElementById("progress");
  let progressValue = document.getElementById("progress-value");
  let pos = document.documentElement.scrollTop;
  let calcHeight =
    document.documentElement.scrollHeight -
    document.documentElement.clientHeight;
  let scrollValue = Math.round((pos * 100) / calcHeight);
  if (pos > 100) {
    scrollProgress.style.display = "grid";
  } else {
    scrollProgress.style.display = "none";
  }
  scrollProgress.addEventListener("click", () => {
    document.documentElement.scrollTop = 0;
  });
  scrollProgress.style.background = `conic-gradient(#073763 ${scrollValue}%, #ffffff ${scrollValue}%)`;
};
window.onscroll = calcScrollValue;
window.onload = calcScrollValue;
    </script>
  </body>
</html>
