{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>About Us Section</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/exam.css' %}">
</head>	
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>We come bearing good news for our followers in Bukhara!</h1>
				</div>
				<div class="content">
					<h3>If you are new to IELTS and need help with the signing-up process, we got your back. We know that even something as simple as IELTS registration can be a daunting task for some applicants🤯🤯🤯</h3>
					<p>But say no more😎😎. We are here to help you get through this process free of worries and anxiety. And the most interesting part of it is that it is FREE OF CHARGE😱😇. Yes, you heard it right. We will be guiding you through the entire registration process at no cost. All you have to do is to provide us with   
						<br>
						<br>
						👉 a digital copy of your passport 
						<br>
						👉a preferred exam date
						<br>
						👉the test center (IDP or BC)
						<br>
						👉the exam format (paper-based or CDI)
						<br>
						👉 a phone number
						<br>

						👉 an email address
						<br></p>

						 <p>We are also glad to announce that our free registration help service extends to both test centers, IDP and British Council. So, if you are someone looking for help with test registration, hit us up on Telegram via this username: <br> @solaz1</p>
						 <h3>P.P.S. IDP test fee — 2,000,000 UZS //  BC test fee — 1,940,400.00 UZS</h3>
					<div class="button">
						<a href="{% url 'index' %}">Back</a>
					</div>
				</div>
				<div class="social">
					<a href="https://www.facebook.com/abbosali.sodiqov.3"> <i class="fab fa-facebook pr-4"></i></a>
                <a href="https://www.instagram.com/adastra.uz"><i class="fab fa-instagram pr-4"></i></a>
               <a href="https://t.me/ad_astra_school"> <i class="fab fa-telegram pr-4"></i></a>
                <a href="https://youtube.com/channel/UC7wMwOnne4mtPMKIF-WhJXQ"><i class="fab fa-youtube"></i></a>
				</div>
			</div>
			
		</div>
	</div>

	
</body>
</html>