{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="x-icon" href="{% static 'img/Icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/smm.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}" />
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="{% static 'css/aos.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous">
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/aos.js' %}"></script>
    
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/courses.css' %}">
    <link rel="stylesheet" href="{% static 'css/animation.css' %}">
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/cookie.js' %}"></script>
   <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <title>Ad-Astra</title>
    <style type="text/css">
     html,body{
    overflow-x: hidden;
    }
      .header{
        border-radius: 20px 20px 0px 0px;
        padding: 10px 0px;
        background: rgb(28, 0, 128);
        color: #fff;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
      }
      .faq-item{
        margin-bottom: 40px;
        margin-top: 40px;
      }
      .faq-body{
        display: none;
        margin-top: 30px;
      }
      .faq-wrapper{
        width: 75%;
        margin: 0 auto;
      }
      .faq-inner{
        padding: 30px;
        background: aliceblue;
      }
      .faq-plus{
        float: right;
        font-size: 1.4em;
        line-height: 1em;
        cursor: pointer;
      }
      hr{
        background-color: #9b9b9b;
      }
      a{
        outline: none;
        text-decoration: none;
      }
    </style>
  </head>
  
  <body>
    <!--=======HOmepage--=======-->
 
    <div class="section a-bg-img-1">
      <div class="container">
        <div class="columns ">
          <div class="column is-12">
            <div class="logo"><img src="{% static 'img/about/Logo.png' %}" alt=""></div>
            <nav class="navi">
              <div class=""></div>
              <div class="openMenu"><i class="fa fa-bars"></i></div>
              <ul class="mainMenu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li> <a href="{% url 'programs' %}">Programs</a></li>
                <li><a href="{% url 'result' %}">Results</a></li>
                <li><a href="{% url 'team' %}">Team</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>

                <div class="closeMenu"><i class="fa fa-times"></i></div>
                <span class="icons">
                  <a href="https://www.facebook.com/abbosali.sodiqov.3"> <i class="fab fa-facebook pr-4"></i></a>
                  <a href="https://www.instagram.com/adastra.uz"><i class="fab fa-instagram pr-4"></i></a>
                 <a href="https://t.me/ad_astra_school"> <i class="fab fa-telegram pr-4"></i></a>
                  <a href="https://youtube.com/channel/UC7wMwOnne4mtPMKIF-WhJXQ"><i class="fab fa-youtube"></i></a>
                 
                </span>
              </ul>
            </nav>
          </div>
        </div>
        <div class="pt-4 pl-6 ml-6">
        <div class="pt-4 pl-6 ml-6">
        <div class="pt-4 pl-6 ml-6">
        <div class="pt-4 pl-6 ml-6">
        <div class="columns pt-6 mt-6 pl-6 ml-6">
          <div class="column is-6 pt-6 mt-6">
            <div class="a-basket mb-3">
              <h1 class="" style="text-align: center;">Striving for Excellence</h1>
              
            </div>
            <div class="ml-4">
            <span class="iconss mt-6 pt-6 ml-6 pl-6">
              <a href="https://www.facebook.com/abbosali.sodiqov.3"> <i class="fab fa-facebook pr-4"></i></a>
                <a href="https://www.instagram.com/adastra.uz"><i class="fab fa-instagram pr-4"></i></a>
               <a href="https://t.me/ad_astra_school"> <i class="fab fa-telegram pr-4"></i></a>
                <a href="https://youtube.com/channel/UC7wMwOnne4mtPMKIF-WhJXQ"><i class="fab fa-youtube"></i></a>
            </span>
          </div>
          </div>
          <div class="column is-6"></div>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
    <!--=======End of HOmepage--=======-->

    <!--========Homepage-2=========-->

    <!--============================================================
                                  Third Section
            ============================================================-->
            <div class="section-color-agency-2 is-flex is-justify-content-center ">
              <div class="section-color-head-5 mt-6 pt-6 mb-6 pt-6">
                <div class="columns pt-6 mb-6 pt-6">
                  <div class="column is-6">
                    <img
                      src="{% static 'img/homepage/kid.jpg' %}"
                      alt=""
                      data-aos="flip-right"
                    />
                  </div>
                  <div class="column is-1"></div>
                  <div class="column is-5 a-agency-text has-text-start">
                    
                    <h4 class="pt-6 mt-6 _text_title"  data-text="Beginner">Beginner</h4>
                    
                  </div>
                </div>
              </div>
            </div>
<!--============================================================
                                  Third Section
            ============================================================-->
            <div class="section-color is-flex is-justify-content-center ">
              <div class="section-color-head-5 mt-6 ">
                <div class="columns">
                  <div class="column is-5 a-agency-text has-text-start">
                    <h4 class="pt-6 mt-6 _text_title2">IELTS Foundation</h4>
                    
                  </div>
                  <div class="column is-1"></div>
            
                  <div class="column is-6">
                    <img
                      src="{% static 'img/homepage/teenager.jpg' %}"
                      alt=""
                      data-aos="flip-left"
                    />
                  </div>
                </div>
              </div>
            </div>
<div class="container pb-6">
  <div class="columns">
    <div class="column is-5"></div>
    <div class="column is-4"><div class="t-text-2 pr-6">
      
     <a href="{% url 'programs' %}"><button class="t-btn-2 mt-6">View more</button></a>
    </div></div>
    <div class="column is-3"></div>
  </div>
</div>

            <div class="section parallaxxi has-background-black">
              <div class="container">
                <div class="columns">
                  <div class="column is-12">
                    <section class="">
                      <div class="parallaxxi-inner"></div>
                    </section>
                  </div>
                </div>
              </div>
            </div>


            <div class="section _about_backcolor">
              <div class="container pt-6">
                <div class="columns">
                  <div class="column is-6">
                    <div class="a-basket-2">
                      <h1>Our achievements</h1>
                    </div>
                  </div>
                  <div class="column is-6"></div>
                </div>
        
                <div class="columns pt-6">
                  <div class="column is-6">
                    <div class="is-flex img-star">
                      <img
                        data-aos="fade-right"
                        class="mr-4"
                        src="{% static 'img/about/star.png' %}"
                        alt=""
                      />
        
                      <img
                        data-aos="fade-down"
                        class="mr-4"
                        src="{% static 'img/about/star.png' %}"
                        alt=""
                      />
                      <img
                        data-aos="fade-left"
                        class="mr-4"
                        src="{% static 'img/about/star.png' %}"
                        alt=""
                      />
                    </div>
        
                    <div class="a-basket-3">
                      <h1 class="pt-6">
                        Let the numbers speak for themselves
                      </h1>
                      <h2 class="pt-6">
                        We take pride in having helped countless of students to reach their goals and being a meaning part of their lives. Find out more about their journey with us and let their success stories serve as your source of inspiration. They could do it and you can do it too!
                      </h2>
                      <a href="{% url 'result' %}">
                      <div class="">
                        <div class="arrow-right is-flex pt-2 pl-4 mt-6">
                         Explore more
                          
                          
                        </div>
                      </div>
                    </a>
                    </div>
                  </div>
                  <div class="column is-6">
                    <div class="img-1 pb-6 mb-6 ">
                      <img src=" {% static 'img/homepage/winner.png' %}" alt="" />
                    </div>
                  </div>
                </div>
              </div>
        
              
            </div>


            <div class="section parallaxxii has-background-black">
              <div class="container">
                <div class="columns">
                  <div class="column is-12">
                    <section class="">
                      <div class="parallaxxi-inner"></div>
                    </section>
                  </div>
                </div>
              </div>
            </div>

    <div class="section ">
      <div class="container pt-6">
        <div class="columns">
          <div class="column is-6">
            <div class="t-text-2">
              <h1>Dream Team</h1>
              
             <a href="{% url 'team' %}"><button class="t-btn-2 mt-6">About us</button></a>
            </div>
          </div>
          <div class="column is-3">
            <div class="t-img-1">
              <img class="" src="{% static 'img/Alisher.jpg' %}" alt="" />
            </div>
          </div>
          <div class="column is-3">
            <div class="t-img-1">
              <img class="" src="{% static 'img/Muhammad.jpg' %}" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="columns">
            <div class="column is-3">
              <div class="t-img-1">
                <img class="" src="{% static 'img/teacher-1.jpg' %}" alt="" />
              </div>
            </div>
            <div class="column is-3">
              <div class="t-img-1">
                <img class="" src="{% static 'img/teacher-2.jpg' %}" alt="" />
              </div>
            </div>
            <div class="column is-3">
              <div class="t-img-1">
                <img class="" src="{% static 'img/teacher.5.jpg' %}" alt="" />
              </div>
            </div>
            <div class="column is-3">
              <div class="t-img-1">
                <img class="" src="{% static 'img/teacher-4.jpg' %}" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  

    




   

    
    
    
    
    
    
    
  

    <div class="section bg-img-7">
      <div class="container">
        <div class="columns pt-6 mt-6">
          <div class="column">
            <div class="h-text-7">
              <h1>Would you like to start your English journey with us?</h1>
              <h2>Reach out and we can create magic together</h2>
              <div class="pt-6">
                <a href="{% url 'contact' %}">
                <div class="btn-2">
                  <p class="has-text-centered pt-3">CONTACT US</p>
                </div>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end of homepage-7 -->

    

    <!--
      =============================================================
                          homepage-8 FAQ
      =============================================================
       -->
       <div class="container pt-6" >
        <div class="row">
          <div class="faq-wrapper">
            <div class="header">
              <h1 class="has-text-white">FAQs</h1>
            </div>
            <div class="faq-inner">
              <div class="faq-item">
                <h3>
                  How long does it take to go from beginner to advanced level?
                  <span class="faq-plus">&plus;</span>
                </h3>
                <div class="faq-body title has-text-grey">
                  9-10 months.
                </div>
              </div>
              <hr>
              <div class="faq-item">
                <h3>
                  What is the most difficult aspect of learning English.
                  <span class="faq-plus">&plus;</span>
                </h3>
                <div class="faq-body title has-text-grey">
                  Depends on the learner. Some students struggle with grammar concepts while others have difficulties developing speaking skills.
                </div>
              </div>
              <hr>
              <div class="faq-item">
                <h3>
                  Can I self-teach English?
                  <span class="faq-plus">&plus;</span>
                </h3>
                <div class="faq-body title has-text-grey">
                  It is entirely possible to learn any language, English included, on your own  as long as you know where to start and set yourself a clear study plan to follow.

                </div>
              </div>
              <hr>
              <div class="faq-item">
                <h3>
                  How long does it take to get an 9.0?
                  <span class="faq-plus ">&plus;</span>
                </h3>
                <div class="faq-body title has-text-grey">
                  Too long. Just kidding))) Consistent work and constant learning through experience and cultural exchange should do the trick.
                </div>
              </div>
              <hr>
             
            </div>
          </div>
        </div>
      </div>
    
      <div class="folio">
        <div class="folio-wrapper">
          <img src="{% static 'img/about/Logo.png' %}" alt="">
        </div>
        <p>
          Greatness happens on the days when you show up even if you don't wanna be there
        </p>
        <div class="folio-nav">
          <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'team' %}">Team</a>
            <a href="{% url 'result' %}">Results</a>
        </div>
        <footer>
          <p>© 2022, Vectorweb.io</p>
          <div class="footer-icon">
            <a href="{% url 'contact' %}">Contact us</a>
           
          </div>
        </footer>
      </div>
      <!-- ===================animation====================== -->
    <div class="columns">
      <div class="column is-12 " style="padding:0px">
        <div class="animation-wrapper">
          <div class="cover run-once">
            <div
              class="is-flex is-justify-content-center is-align-items-center"
            >
              <!-- <video
                src="assets/video/light-l-r.mp4"
                autoplay=""
                muted=""
                class="is-flex"
              ></video> -->
            </div>
            <div class="top-line-one"></div>

            <div class="top-line-two"></div>

            <div class="containerl">
              <div class="mask-l-r"></div>
              <div class="text-container">
                <div class="text-block pb-5 mb-6">
                  <img src="{% static 'img/about/Logo.png' %}" alt="" width="250px" />
                  <!-- <p class="sub">another line of text</p> -->
                </div>
              </div>
            </div>
            <div class="bottom-line-one"></div>
            <div class="bottom-line-two"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- ==============end of animation=================== -->

  
    <script type="text/javascript">
      $(".faq-plus").on('click',function(){
        $(this).parent().parent().find('.faq-body').slideToggle();
      });
    </script>
    <!-- end of homepage FAQ -->
    <script src="{% static 'js/contact.js' %}"></script>
    <script>
      AOS.init()
    </script>
    <script>
      let calcScrollValue = () => {
  let scrollProgress = document.getElementById("progress");
  let progressValue = document.getElementById("progress-value");
  let pos = document.documentElement.scrollTop;
  let calcHeight =
    document.documentElement.scrollHeight -
    document.documentElement.clientHeight;
  let scrollValue = Math.round((pos * 100) / calcHeight);
  if (pos > 100) {
    scrollProgress.style.display = "grid";
  } else {
    scrollProgress.style.display = "none";
  }
  scrollProgress.addEventListener("click", () => {
    document.documentElement.scrollTop = 0;
  });
  scrollProgress.style.background = `conic-gradient(#073763 ${scrollValue}%, #ffffff ${scrollValue}%)`;
};
window.onscroll = calcScrollValue;
window.onload = calcScrollValue;
    </script>
  </body>
</html>
