{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" type="x-icon" href="{% static 'img/Icon.png' %}">
     <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/seven.css' %}" />
     <link rel="stylesheet" href="{% static 'css/policy.css' %}">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
     
     <title>Ad-Astra</title>
</head>
<body>
  
        <div class="section">
          <div class="container">
            <div class="columns">
              <div class="column is-4"></div>
              <div class="column is-4">
                <div class="pText1 has-text-centered">
                  <h1>Privacy Policy</h1>
                </div>
                <div class="pText2 pt-4">
                  <p>
                    To whom this policy applies
This policy applies to the local government indicated on page four and all individuals
or entities representing or working for the local government on a paid or unpaid
basis and who may have access to Personal Information. (“Recipient of
Personal Information”)
                  </p>
                </div>
              </div>
              <div class="column is-4"></div>
            </div>
          </div>
        </div>
    
        <div class="section">
          <div class="container">
            <div class="columns">
              <div class="column is-2"></div>
              <div class="column is-8">
                <div class="pText1">
                  <h1>To what this policy applies and Responsibilities</h1>
                </div>
                <div class="pText4 pt-5">
                  <p>
                    This policy applies to Personal Information disclosed by Elections BC to the Recipient
of Personal Information under the Election Act . (“Personal Information”)
                  </p>
                  <p class="pt-5">
                    All Recipients of Personal Information are responsible for the security and integrity of
Personal Information and shall safeguard such Personal Information against
accidental or unauthorized access, disclosure, use, modification and disposal.
                  </p>
                </div>
              </div>
              <div class="column is-2"></div>
            </div>
            <div class="columns">
              <div class="column is-2"></div>
              <div class="column is-8">
                <div class="pText1">
                  <h1>Restrictions on use</h1>
                </div>
                <div class="pText4 pt-5">
                  <p>
                    All Recipients of Personal Information must comply with this privacy policy, the
Electoral Purpose for Access to and Use of Personal Information Regulation , and
the requirements under section 275 of the Election Act to:
Only use the Personal Information for the purposes of the Election Act
and the administration by a local government of a municipal electoral
event, and
Not use the Personal Information for commercial purposes.
Recipients of Personal Information must not disclose Personal Information to
any individual or entity to whom this policy does not apply.
                  </p>
                
                  <p class="pt-5">
                    All individuals or entities with access to, or a copy of, Personal Information
                    must take reasonable precautions to protect the security and confidentiality of
                    the Personal Information.
                    Reasonable precautions include the following:
                    
                    Administrative measures: procedures to protect the privacy and security of
                    Personal Information, staff training on privacy, limiting access to information to
                    a “need to know” basis and the reliability of individuals having access to the
                  </p>
                </div>
              </div>
              <div class="column is-2"></div>
            </div>
          </div>
        </div>
        <div class="folio">
          <div class="folio-wrapper">
            <img src="{% static 'img/main/Logo.png' %}" alt="">
          </div>
          <p>
            Greatness happens on the days when you show up even if you don't wanna be there
          </p>
          <div class="folio-nav">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'index' %}">About</a>
            <a href="{% url 'index' %}">Team</a>
            <a href="{% url 'index' %}">Results</a>
          </div>
          <footer>
            <p>© 2022, Vectorweb.io</p>
            <div class="footer-icon">
              <a href="{% url 'index' %}">Contact us</a>
              
            </div>
          </footer>
        </div>
</body>
</html>